#-----------------------------------------------------------------------------#
# Inference Server
#-----------------------------------------------------------------------------#
INF_LOG_LEVEL=INFO

# Stream / RTSP
INF_STREAM_RTSP_URL=rtsp://host.docker.internal:8554/stream
INF_STREAM_SKIP_FRAME=5
INF_STREAM_APPLY_DIFF=true
INF_STREAM_DIFF_THRESHOLD=5.0

# RabbitMQ
INF_RABBITMQ_HOST=localhost
INF_RABBITMQ_PORT=5672
INF_RABBITMQ_USERNAME=guest
INF_RABBITMQ_PASSWORD=guest
INF_RABBITMQ_EXCHANGE_NAME=cognibrew.inference
INF_RABBITMQ_QUEUE_NAME=cognibrew.inference.face_embedded
INF_RABBITMQ_FACE_EMBEDDED_ROUTING_KEY=face.embedded

# Model
# Supported model names (insightface): 
# antelopev2, buffalo_l, buffalo_m, buffalo_s, buffalo_sc
INF_MODEL_FRAMEWORK=insightface
INF_MODEL_NAME=buffalo_sc

#-----------------------------------------------------------------------------#
# Recognition Service
#-----------------------------------------------------------------------------#
REC_LOG_LEVEL=INFO

# RabbitMQ
REC_RABBITMQ_HOST=localhost
REC_RABBITMQ_PORT=5672
REC_RABBITMQ_USERNAME=guest
REC_RABBITMQ_PASSWORD=guest
REC_RABBITMQ_INFERENCE_EXCHANGE_NAME=cognibrew.inference
REC_RABBITMQ_INFERENCE_QUEUE_NAME=cognibrew.inference.face_embedded
REC_RABBITMQ_FACE_EMBEDDED_ROUTING_KEY=face.embedded
REC_RABBITMQ_FACE_RECOGNIZED_ROUTING_KEY=face.recognized

# Face Update (cloud --> vectordb)
REC_RABBITMQ_FACE_UPDATE_EXCHANGE_NAME=cognibrew.vectordb
REC_RABBITMQ_FACE_UPDATE_QUEUE_NAME=cognibrew.vectordb.face_updated
REC_RABBITMQ_FACE_UPDATE_ROUTING_KEY=face.updated

# Qdrant (USE grpc)
REC_QDRANT_HOST=localhost
REC_QDRANT_PORT=6334
REC_QDRANT_COLLECTION_NAME=face_embeddings
REC_QDRANT_EMBEDDING_DIM=512

# Model
REC_MODEL_SIMILARITY_THRESHOLD=0.65

#-----------------------------------------------------------------------------#
# Version Manager
#-----------------------------------------------------------------------------#
VMNG_LOG_LEVEL=INFO

# RabbitMQ (shared connection)
VMNG_RABBITMQ_HOST=localhost
VMNG_RABBITMQ_PORT=5672
VMNG_RABBITMQ_USERNAME=guest
VMNG_RABBITMQ_PASSWORD=guest

# Docker Rolling Update
VMNG_DOCKER_TARGET_LABEL=cognibrew.service=recognition
VMNG_DOCKER_HEALTH_TIMEOUT_S=30
VMNG_DOCKER_HEALTH_POLL_S=1

# Sync (edge-pull from cloud)
VMNG_SYNC_URL=http://localhost/api/v1/sync/bundle
VMNG_SYNC_PAGE_SIZE=50
VMNG_SYNC_SCHEDULE_TIME=01:00
VMNG_SYNC_CHECK_EVERY=60
